body {
  font-family: sans-serif;
  background: #111;
  color: #eee;
  text-align: center;
  margin: 0;
}
canvas { background:#222; display:block; margin:20px auto; }
input,button { margin:4px; padding:4px 8px; }